{% extends 'base.html' %}

{% block content %}
<!-- Герой секция -->
<section class="hero-section text-center">
    <h1 class="display-4" style="color:black;">Добро пожаловать в колледж!</h1>
    <p class="lead" style="color:black;">Получите образование, которое откроет перед вами новые возможности. Присоединяйтесь к нашему колледжу!</p>
    <a href="#" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#applyModal">Поступить</a>


</section>

<!-- Список специальностей -->
<div class="row specialty-list">
    <div class="col-md-4">
        <div class="card">
            <img src="https://i7.imageban.ru/out/2021/10/29/4c8993d631633016a64ff3b4f594b181.jpg" class="card-img-top" alt="Информатика">
            <div class="card-body">
                <h5 class="card-title">Информатика</h5>
                <p class="card-text">Получите знания в области программирования, разработки веб-сайтов и программных систем.</p>
                <a href="{% url 'informatics_detail' %}" class="btn btn-info">Подробнее</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="https://admvpol.gosuslugi.ru/netcat_files/32/2260/dnpegpvx0aud28d.png_large.png" class="card-img-top" alt="Экономика">
            <div class="card-body">
                <h5 class="card-title">Экономика</h5>
                <p class="card-text">Изучите управление финансами, анализ рынка и другие экономические дисциплины.</p>
                <a href="{% url 'economics_detail' %}" class="btn btn-info">Подробнее</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="https://avatars.mds.yandex.net/i?id=b40649e2c05f425298d3a719e53db9d4f4793147-4306607-images-thumbs&n=13" class="card-img-top" alt="Медицина">
            <div class="card-body">
                <h5 class="card-title">Медицина</h5>
                <p class="card-text">Получите знания и практические навыки, чтобы работать в медицинской сфере.</p>
                <a href="{% url 'medicine_detail' %}" class="btn btn-info">Подробнее</a>
            </div>
        </div>
    </div>
</div>

<!-- Контакты -->
<div class="row mt-5">
    <div class="col-12">
        <h2>Контакты</h2>
        <p>Если у вас есть вопросы, не стесняйтесь обращаться к нам. Мы всегда рады помочь!</p>
        <ul class="list-unstyled">
            <li><strong>Адрес:</strong> г. Москва, ул. Примерная, д. 1</li>
            <li><strong>Телефон:</strong> +7 (123) 456-78-90</li>
            <li><strong>Электронная почта:</strong> info@college.ru</li>
            <li><strong>Часы работы:</strong> Пн-Пт: 9:00 - 18:00</li>
        </ul>
        <h3>Социальные сети:</h3>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#" class="btn btn-social-icon btn-whatsapp"><i class="bi bi-whatsapp"></i></a></li>
            <li class="list-inline-item"><a href="#" class="btn btn-social-icon btn-telegram"><i class="bi bi-telegram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="btn btn-social-icon btn-instagram"><i class="bi bi-instagram"></i></a></li>
        </ul>
    </div>
</div>
{% endblock %}
