{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-warning">Экономика</h1>
    <img src="https://admvpol.gosuslugi.ru/netcat_files/32/2260/dnpegpvx0aud28d.png_large.png" class="img-fluid rounded mb-4" width="500" alt="Экономика">
    <p>Экономика — это область знаний, связанная с управлением финансами, анализом рынков и планированием бизнес-процессов. Выпускники могут работать в банках, финансовых компаниях или заниматься частным предпринимательством.</p>
    <h3>Что вы изучите:</h3>
    <ul>
        <li>Бухгалтерский учет</li>
        <li>Финансовый анализ</li>
        <li>Маркетинг и управление бизнесом</li>
        <li>Экономическое право</li>
    </ul>
    <h3>Перспективы:</h3>
    <p>После окончания обучения вы сможете работать экономистом, бухгалтером или финансовым аналитиком.</p>
    <a href="{% url 'home' %}" class="btn btn-secondary">Назад</a>
</div>
{% endblock %}
