{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-success">Медицина</h1>
    <img src="https://avatars.mds.yandex.net/i?id=b40649e2c05f425298d3a719e53db9d4f4793147-4306607-images-thumbs&n=13" width="500" class="img-fluid rounded mb-4" alt="Медицина">
    <p>Медицина — это обучение навыкам диагностики, лечения и профилактики заболеваний. Выпускники могут работать в медицинских учреждениях, занимаясь пациентами и совершенствуя свои знания в медицинской практике.</p>
    <h3>Что вы изучите:</h3>
    <ul>
        <li>Анатомия человека</li>
        <li>Основы фармакологии</li>
        <li>Методы диагностики</li>
        <li>Первая медицинская помощь</li>
    </ul>
    <h3>Перспективы:</h3>
    <p>После окончания обучения вы сможете работать медицинским работником, фельдшером или ассистентом врача.</p>
    <a href="{% url 'home' %}" class="btn btn-secondary">Назад</a>
</div>
{% endblock %}
